<section class="container">
    <h1 class="text-center">Cadastro de Médicos</h1>
    <form action="/medicos/store" method="post">
        {{!-- Campo 1: Nome --}}
        <section class="mb-2">
            <label for="nome">Nome</label>
            <input type="text" name="nome" id="nome" class="form-control">
        </section>

        {{!-- Campo 2: especialidade e contato --}}
        <section class="row mb-2">
            <div class="col-md-4">
                <label for="especialidade">Especialidade</label>
                <input type="text" name="especialidade" id="especialidade" class="form-control">
            </div>

            <div class="col-md-4">
                <label for="contato">Contato</label>
                <input type="text" name="contato" id="contato" class="form-control">
            </div>
         {{!-- Campo 3: email--}}
               <div class="col-md-4">
                <label for="email">E-mail</label>
                <input type="text" name="email" id="email" class="form-control">
            </div>
        </section>
        {{!-- Campo 4: Botao de envio --}}
        <section class="mb-2">
            <button class="btn btn-dark" type="submit">Cadastrar</button>
        </section>


    </form>
</section>